<div class="form">
  <form [formGroup]="formForm" (ngSubmit)="onSubmit()">
    <div formGroupName="personalDetails">
      <label for="name"><b>Full Name</b></label>
      <input id="fname" type="text" name="name" placeholder="Your name.." formControlName="fname" required>
      <div>
        <span *ngIf="!formForm.get('personalDetails.fname').valid
        && formForm.get('personalDetails.fname')touched">FullName is required!</span>
      </div>

      <label for="email"><b>Email</b></label>
      <input id="email" type="email" placeholder="Your email.." formControlName="email" required>
      <div>
        <span *ngIf="!formForm.get('personalDetails.email').valid
        && formForm.get('personalDetails.email')touched">
        The email you entered is not a valid email!</span>
      </div>

      <label for="tel"><b>Phone</b></label>
      <input id="phone" type="tel" placeholder="Your number phone.." formControlName="tel" required>
      <div>
        <span *ngIf="!formForm.get('personalDetails.tel').valid
        && formForm.get('personalDetails.tel')touched">
        Your number phone entered is not valid!</span>
      </div>
    </div>

    <label for="gender"><b>Gender</b></label>
    <div class="gender_id">
      <input type="radio" id="male" value='male' formControlName="gender">
      <label for="male"><i>Male</i></label>
      <input type="radio" id="female" value='female' formControlName="gender">
      <label for="female"><i>Female</i></label>
      <input type="radio" id="other" value='other' formControlName="gender">
      <label for="other"><i>Other</i></label>
    </div>

    <button type="submit" [disabled]="!formForm.valid">Submit</button>
  </form>
</div>
